{% extends "kainos_layout.html" %} 
{% block pageTitle %} 
Adding new job role 
{% endblock %} 
 

{% block content %}
<h2>Add new job role</h2>
</br>

{% if errormessage %} 
<div class="govuk-error-message">{{ errormessage }}</div> 
{% endif %}

<form class="form" action="/addnewjob" method="POST">
{% from "govuk/components/input/macro.njk" import govukInput %}
{{ govukInput({
  label: {
    text: "Job Role Name"
  },
  classes: "govuk-input--width-20",
  id: "jobName",
  name: "jobName",
  value:data["jobName"]
}) }}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{{ govukTextarea({
  name: "jobResponsibility",
  id: "jobResponsibility",
  value:data["jobResponsibility"],
  label: {
    text: "Job Responsibility"
  }
}) }}

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{{ govukTextarea({
  name: "specSummary",
  id: "specSummary",
  required: "true",
  value:data["specSummary"],
  label: {
    text: "Job Specification"
  }
}) }}

{% if family and family.length > 0 %} 
<div class="govuk-form-group">
    <label class="govuk-label" for="family">
     Role Family
    </label>
    <select class="govuk-select" id="jobFamilyId" name="jobFamilyId" required>
      <p id="email-error" class="govuk-error-message">
        <span class="govuk-visually-hidden">Error:</span> Enter an email address in the correct format, like name@example.com
      </p>
        {% for fam in family %}
        {% if fam.listID == data["jobFamilyId"] %}
        <option selected value="{{fam.listID}}">{{fam.listName}}</option>
        {% else %}
        <option  value="{{fam.listID}}">{{fam.listName}}</option>
        {% endif %}
        {% endfor %}
        
    </select>
  </div>
{% else %}
No job family 
{% endif %}

{% if capability and capability.length > 0 %} 
<div class="govuk-form-group">
    <label class="govuk-label" for="sort">
      Capability Family
    </label>
    <select class="govuk-select" id="capabilityId" name="capabilityId" required>
    
        {% for cap in capability %}
        {% if cap.listID == data["capabilityId"] %}
        <option selected value="{{cap.listID}}">{{cap.listName}}</option>
        {% else %}
        <option value="{{cap.listID}}">{{cap.listName}}</option>
        {% endif %}
        {% endfor %}
        
    </select>
  </div>
{% else %}
No job family 
{% endif %}

{% if bandlevel and bandlevel.length > 0 %} 
<div class="govuk-form-group">
    <label class="govuk-label" for="bandlevel">
      Band Level
    </label>
    <select class="govuk-select" id="bandLevelId" name="bandLevelId" required>
        {% for band in bandlevel %}
        {% if band.listID == data["bandLevelId"] %}
        <option selected value="{{band.listID}}">{{band.listName}}</option>
        {% else %}
        <option value="{{band.listID}}">{{band.listName}}</option>
        {% endif %}
        {% endfor %}
    </select>
  </div>
{% else %}
No job family 
{% endif %}

<button type="submit" class="govuk-button" data-module="govuk-button">
Add new role  
</button>

</form>

{% endblock %}
