{% extends "kainos_layout.html" %} 
{% block pageTitle %} 
Adding new job role 
{% endblock %} 
 

{% block content %}
<h2>Check Formality</h2>
{{ govukBackLink({
  text: "Back",
  href: "/viewroles"
}) }}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% if errormessage %} 
<div class="govuk-error-message">{{ errormessage }}</div> 
{% endif %}

<form class="form" action="/formality" method="POST">

<label for="jobResponsibility" style="display:none;">Check Formality:</label>

{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{{ govukTextarea({
  name: "jobResponsibility",
  rows: "10",
  id: "jobResponsibility",
  value:data["jobResponsibility"],
  attributes:"required"
}) }}

<button type="submit" class="govuk-button" data-module="govuk-button">
Check Score  
</button>

</form>

{% endblock %}
