{% extends "kainos_layout.html" %} 
{% block pageTitle %} 
  List of Competencies 
{% endblock %} 
 
{% block content %}

<h1>List of Competencies</h1>

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
  text: "Back",
  href: "/viewroles"
}) }}

{% if comps and comps.length > 0 %} 

{% set PersonalPerformance = [] %} 
{% set WorkingwithOthers = [] %} 
{% set SettingDirectionDevelopmentandAccountability = [] %} 
{% set SupportingandDeliveringtheStrategy = [] %} 
{% set CommercialityandRisk = [] %} 
{% set CommunicatingandInfluence = [] %} 


{% for comp in comps %}

{% if comp.competencyID ==1 %} 
{% set PersonalPerformance = (PersonalPerformance.push([{ text: comp.subheading }, {text: comp.information}]), PersonalPerformance) %} 
{% endif %}

{% if comp.competencyID ==2 %} 
{% set WorkingwithOthers = (WorkingwithOthers.push([{ text: comp.subheading }, {text: comp.information}]), WorkingwithOthers) %} 
{% endif %}

{% if comp.competencyID ==3 %} 
{% set SettingDirectionDevelopmentandAccountability = (SettingDirectionDevelopmentandAccountability.push([{ text: comp.subheading }, {text: comp.information}]), SettingDirectionDevelopmentandAccountability) %} 
{% endif %}

{% if comp.competencyID ==4 %} 
{% set SupportingandDeliveringtheStrategy = (SupportingandDeliveringtheStrategy.push([{ text: comp.subheading }, {text: comp.information}]), SupportingandDeliveringtheStrategy) %} 
{% endif %}

{% if comp.competencyID ==5 %} 
{% set CommercialityandRisk = (CommercialityandRisk.push([{ text: comp.subheading }, {text: comp.information}]), CommercialityandRisk) %} 
{% endif %}

{% if comp.competencyID ==6 %} 
{% set CommunicatingandInfluence = (CommunicatingandInfluence.push([{ text: comp.subheading }, {text: comp.information}]), CommunicatingandInfluence) %} 
{% endif %}

{% endfor %} 

<h2>Personal Performance</h2>
{{govukTable({ 
  firstCellIsHeader: true,
    head: [ { text: "Elements", classes: "govuk-!-width-one-quarter"},{ text: "Information", classes: "govuk-!-width-three-quarters" }],  
    rows: PersonalPerformance }) 
}} 

<h2>Working with Others</h2>
{{govukTable({ 
  firstCellIsHeader: true,
    head: [ { text: "Elements", classes: "govuk-!-width-one-quarter"},{ text: "Information", classes: "govuk-!-width-three-quarters" }], 
    rows: WorkingwithOthers }) 
}} 

<h3>Setting Direction Development and Accountability</h3>
{{govukTable({ 
  firstCellIsHeader: true,
    head: [{text: "Elements", classes: "govuk-!-width-one-quarter"},{ text: "Information", classes: "govuk-!-width-three-quarters"}], 
    rows: SettingDirectionDevelopmentandAccountability }) 
}} 

<h2>Supporting and Delivering the Strategy</h2>
{{govukTable({ 
  firstCellIsHeader: true,
    head: [ { text: "Elements", classes: "govuk-!-width-one-quarter"},{ text: "Information", classes: "govuk-!-width-three-quarters" }], 
    rows: SupportingandDeliveringtheStrategy }) 
}} 

<h2>Commerciality and Risk</h2>
{{govukTable({ 
  firstCellIsHeader: true,
    head: [ { text: "Elements", classes: "govuk-!-width-one-quarter"},{ text: "Information", classes: "govuk-!-width-three-quarters" }], 
    rows: CommercialityandRisk }) 
}} 

<h2>Communicating and Influence</h2>
{{govukTable({ 
  firstCellIsHeader: true,
    head: [ { text: "Elements", classes: "govuk-!-width-one-quarter"},{ text: "Information", classes: "govuk-!-width-three-quarters" }], 
    rows: CommunicatingandInfluence }) 
}} 

{% else %}
There are no competencies. 
{% endif %}

{% endblock %}
